/*. types are classes # types are id's*/	
#navwrapper{
	width:100%;
	margin:0 auto;
	margin-top:0;
	}

#nav {
	position:relative;
	width:100%;
	margin:0 auto;
}

ul#navigation {
	width:95.5%; /*95.5% seems to work*/ /*added*/
	margin:0 0 0 0;
	position:relative;
	float:left;
	/*padding-left:1em;*/
	/*border-left:1px solid #c4dbe7;*/
	/*border-right:1px solid #c4dbe7;*/
	color: blue;
	}

ul#navigation li {
	display:inline;
	/*font-size:12px;*/
	/*font-weight:bold;*/
	margin:0;
	padding:0;
	padding: 0 5px 0 0;/*changed*/
	float:left;
	position:relative;
	/*border-top:1px solid #c4dbe7;*/
	/*border-bottom:2px solid #c4dbe7;*/
}

ul#navigation ul, ul#navigation ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;    
    visibility:hidden;
    position: absolute;
    z-index: 99999;
    width:180px;
    background:#fff;
    box-shadow:0 2px 2px -1px rgba(0, 0, 0, 0.055);
    opacity:0;
/*     -webkit-transition:opacity 0.2s linear, visibility 0.2s linear; ///* Chrome &amp; Safari*/
 /*   -moz-transition:opacity 0.2s linear, visibility 0.2s linear; // /*Mozilla Firefox*/
   /* -o-transition:opacity 0.2s linear, visibility 0.2s linear; // /* Opera */
   /* transition:opacity 0.2s linear, visibility 0.2s linear;   */   
}


ul#navigation li a:hover {
	background:#fff;
	/*color:#282828;*/
	text-decoration:underline; /*addition*/
}

ul#navigation li:hover > a {
	background:#fff;
}

/* Drop-Down Navigation */
ul#navigation li:hover > ul{
	visibility:visible;
	opacity:1;
}

ul#navigation ul, ul#navigation ul li ul {
	list-style: none;
    margin: 0;	
    padding: 0;    
	visibility: hidden;
    position: absolute;
    z-index: 99999;
	width:185px; /*changed*/
	background:#fff; /*second level background color*/
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	opacity: 0;
	-webkit-transition: opacity 0.2s linear, visibility 0.2s linear; 
	-moz-transition: opacity 0.2s linear, visibility 0.2s linear; 
	-o-transition: opacity 0.2s linear, visibility 0.2s linear; 
	transition: opacity 0.2s linear, visibility 0.2s linear; 	
}

ul#navigation ul {
    top: 25px; /*changed*/
    left: 0; /*changed*/
}

ul#navigation ul li ul {
    top: 1px;
    /*left: 181px;*/ /*second level offset*/
	left: 100%;
}

ul#navigation ul li { /*dropdown background*/
	clear:both;
	/*width:100%;*/
	border:0 none;
	/*bottom navigation border*/
	border-bottom:0px solid #c9c9c9;
}

ul#navigation ul li a { 
	background:none;
	/*padding:0px 0px;*/
	padding:7px 15px 7px 0px;
	/*color:#616161;*/ 
	text-shadow:1px 1px 0px #fff;
	text-decoration:none;
	display:inline-flex;
	border:0 none;
	float:left;
	clear:both;
	width:120px;
	/*width:150px;*/
	border-left: 0 none;
	font-size: 80%; /*added*/
}

ul#navigation li a.first-of-type { /*changed*/
	border-left: 0 none;
	padding-left: 0;
}

ul#navigation li a.last-of-type { /*changed*/
	border-right: 0 none;
	padding-right: 0;
}

.nav_button {
	background-color: #fff;
	padding: 0px 5px 15px 5px;
	font-size: 100%;
	color: blue;
	border: none;
	text-align: left;
}

.nav_button:hover {
	text-decoration:underline;
}

/*Search Box*/
#searchbox {
	/*border: 5px solid #ccc;*/
	position: relative;  
	float:right;
	clear:both;
}

input.rounded {
	border: 1px solid #ccc;
	/*-moz-border-radius: 5px;*/
	border-radius: 5px;
	/*-moz-box-shadow: 2px 2px 3px #666;*/
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 0.75em;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
	float:left;
}

input.rounded:focus {
	border-color: #0000FF;
}
input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
	font-style: normal;
	font-weight: bold;	
	color: #0000FF;
	
}
input[type='radio'] {
	color: #0000FF
	
}
div.radio {
	font-size: 0.75em;
	font-weight: 500;
	color: #0000FF;
	}
	
input[type=button] {

    background:#ccc; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
	font-style: normal;
	font-weight: bold;
	width: 20em;  
	height: 2em;

}	


/*---------------------------------------------------------------------------------------------*/
/*Mobile*/
/*---------------------------------------------------------------------------------------------*/
@media screen and (max-width: 480px) {

body {
	margin:0 0 0 0;
	background-color: white;
	}
	
#navwrapper{
	width:100%;
	margin:0 0 0 0;
	}

#nav {
	position:relative;
	width:100%;
	margin:0 0 0 0;
}

ul#navigation {
	position:relative;
	width:100%; /*95.5% seems to work*/ /*added*/
	margin:0 0 0 0;
	float:left;
	}

ul#navigation li { /*toplevel list-item*/
	position:relative;
	width:100%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	float:left;
	display:block;
	text-align:center;
	background:red;
}

ul#navigation ul, ul#navigation ul li ul {
    position: absolute;
	width:100%;
    margin:0 0 0 0;
    padding:0 0 0 0;
    list-style: none;
    visibility:hidden;
    z-index: 99999;
    /*width:180px;*/
    background:#fff;
    /*box-shadow:0 2px 2px -1px rgba(0, 0, 0, 0.055);*/
    opacity:0;
/*     -webkit-transition:opacity 0.2s linear, visibility 0.2s linear; ///* Chrome &amp; Safari*/
 /*   -moz-transition:opacity 0.2s linear, visibility 0.2s linear; // /*Mozilla Firefox*/
   /* -o-transition:opacity 0.2s linear, visibility 0.2s linear; // /* Opera */
   /* transition:opacity 0.2s linear, visibility 0.2s linear;   */   
}


ul#navigation li a:hover {
	background:#fff;
	/*color:#282828;*/
	text-decoration:underline; /*addition*/
}

ul#navigation li:hover > a {
	background:#fff;
}

/* Drop-Down Navigation */
ul#navigation li:hover > ul{
	visibility:visible;
	opacity:1;
}

ul#navigation ul, ul#navigation ul li ul {
	list-style: none;
    margin: 0;	
    padding: 0;    
	visibility: hidden;
    position: absolute;
    z-index: 99999;
	/*width:185px;*/ /*changed*/
	width:100%;
	background:#fff; /*second level background color*/
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	opacity: 0;
	text-align:center;
	-webkit-transition: opacity 0.2s linear, visibility 0.2s linear; 
	-moz-transition: opacity 0.2s linear, visibility 0.2s linear; 
	-o-transition: opacity 0.2s linear, visibility 0.2s linear; 
	transition: opacity 0.2s linear, visibility 0.2s linear; 	
}

ul#navigation ul { 								/*Second Level*/
    top: 25px; /*changed*/
    left: 0; /*changed*/
	
	
}

ul#navigation ul li ul {
    top: 0px;
    /*left: 181px;*/ /*second level offset*/
	left: 100%;
	background-color: yellow;
	}

ul#navigation ul li { /*dropdown background*/
	clear:both;
	width:100%;
	border:0 none;
	/*bottom navigation border*/
	border-bottom:0px solid #c9c9c9;
		background-color: pink;
}

ul#navigation ul li a { 
	background-color: blue; /*second level words*/
	/*padding:0px 0px;*/
	padding:7px 15px 7px 0px;
	/*color:#616161;*/ 
	text-shadow:1px 1px 0px #fff;
	text-decoration:none;
	display:inline-block;
	border:0 none;
	float:left;
	clear:both;
	/*width:120px;*/ /*second level words*/
	/*width:150px;*/
	border-left: 0 none;
	font-size: 80%; /*added*/
	width:100%;
	text-align:center;
}

ul#navigation li a.first-of-type { /*changed*/
	border-left: 0 none;
	padding-left: 0;
}

ul#navigation li a.last-of-type { /*changed*/
	border-right: 0 none;
	padding-right: 0;
}

.nav_button {
	/*background-color: lightgreen;*/
	/*background-color: #fff;	*/
	padding: 0px 5px 15px 5px;
	font-size: 100%;
	color: blue;
	border: none;
	text-align: left;
}

.nav_button:hover {
	text-decoration:underline;
	
	}


/*------------------------------------------------------------------------------------------------------------*/



	
}
